
.card {
  position: relative;
  width: 40vw;
  max-width: 950px;
  height: 450px;
  padding: 20px 30px;
  background: #AF8C5A;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image {
  position: relative;
  height: 200px;
  width: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px;
}

.tiger-image {
  background-image: url('../images/animals/tiger.png');
}

.mouse-image {
  background-image: url('../images/animals/shark.png');
}

.pig-image {
  background-image: url('../images/animals/pig.png');
}

.fox-image {
  background-image: url('../images/animals/fox.png');
  /* background-image: url('../images/tiger.png'); */
}

.card-title {
  margin-top: 10px;
  font-size: 22px;
}

.card-text {
  margin-top: 5px;  
  font-size: 16px;
  color: black;
}

.card-link {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

.card-link:hover {
  background: white;
  color: #AF8C5A;
}

.card-link:active {
  background: #dbd7d7;
  border: 1px solid #dbd7d7;
}



@media (max-width: 960px) {
  .card {
    width: 100%;
    height: 450px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
  }
 
}
