.author {
  position: relative;
  margin-left: 30px;
  border-radius: 5px;
  background: #A5C94A;
  padding: 15px 30px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.author-title {
  color: black;
  font-size: 23px;
  text-align: center;
}

.author-image {
  position: relative;
  height: 70px;
  width: 70px;
  margin-top: 10px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid white;
  background-image: url('../images/man.jpeg');
  align-self: center;
}

.author-name {
  color: black;
}

.author-text {
  color: black;
  margin-top: 10px;
  font-size: 20px;
}

@media (max-width: 960px) {
  .author {
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
    padding: 15px 20px;
  }
  
  .author-title {
    font-size: 20px;
  }

  .author-name, .author-text {
    font-size: 18px;
  }
}
