footer {
  position: relative;
  width: 100%;
  background: #222121;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icons {
  position: relative;
  display: flex;
}

.footer-icon {
  position: relative;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
  background-image: url('../images/footer_icon.svg');
  cursor: pointer;
  transition: transform .3s;
}

.footer-icon:not(:first-child) {
  margin-left: 15px;
}

.footer-icon:hover {
  transform: scale(1.2);
}

.in_icon {
  background-image: url('../images/social/linkedin.svg');
}

.facebook_icon {
  background-image: url('../images/social/facebook.svg');
}

.twitter_icon {
  height: 27px;
  height: 27px;
  background-image: url('../images/social/twitter.svg');
}

@media (max-width: 960px) {
  footer {
    padding: 10px 15px;
  }
  .footer-icons {
    margin-left: 30px;
  }
}
