* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  background: #000;
  min-height: 100vh;
}

.blog {
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-title {
  margin-top: 40px;
  text-align: center;
  color: white;
  font-size: 38px;
}

.cards-wrapper {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 50px;
}
