nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #222121;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_title {
  text-decoration: none;
  font-size: 23px;
  padding-bottom: 10px;
  cursor: pointer;
}

.nav_title:before {
  content: '';
  float: left;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../images/page_icon.svg');
  margin-right: 10px;
}

.nav_title:hover {
  color: #cfaa79;
}

#subscribe-form {
  display: flex;
  opacity: 1;
  transition: max-height 0.5s 0s, opacity 0.5s 0s, margin-top 0.5s 0s;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

#email-input {
  width: 150px;
  margin: 0 10px;
  height: 25px;
  padding: 0 5px;
  color: black;
}

.subscribe-button {
  position: relative;
  border: none;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  padding: 4px 15px;
  color: white;
  background: transparent;
  border: 1px solid white;
}

.subscribe-button:hover {
  background: white;
  color: #191919;
}

.subscribe-button:active {
  background: #dbd7d7;
}


@media (max-width: 960px) {
  nav {
    padding: 20px;
    flex-direction: column;
  }

  #email-input {
    margin: 0 0 0 10px;
    width: 100%;
  }

  #subscribe-form {
    flex-direction: column;
    margin-top: 20px;
  }

  .subscribe-button {
    margin-top: 10px;
  }
}
