@import './global.css';
@import './footer.css';
@import './navbar.css';
@import './article.css';
@import './author_card.css';

.post {
  position: relative;
  width: 100%;
  padding: 50px 40px;
}

.back-link {
  position: relative;
  display: block;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

.back-link:before {
  content: '';
  float: left;
  position: relative;
  border-left: 2px solid white;
  border-top: 2px solid white;
  width: 8px;
  height: 8px;
  margin-right: 10px;
} 

.back-link:hover {
  color: #A5C94A;
}

.back-link:hover:before {
  border-color: #A5C94A;
  transform: rotate(-45deg) translateY(5px);
}

.back-link:active {
  color: #718D2A;
}

.back-link:active:before {
  border-color: #718D2A;
}


@media (max-width: 960px) {
  .post {
    padding: 30px 15px;
  }
}
